{% extends "base.html" %}
{% block content %}
<h1 class="title">Динаміка останніх сніпшотів</h1>
{% if items %}
<table class="table is-fullwidth is-striped is-hoverable">
    <thead><tr><th>Назва</th><th>Ключ</th><th>Views/day</th><th>Δ Views/day</th><th>Перегляди Δ</th><th>Eng Δ</th><th>Посилання</th></tr></thead>
    <tbody>
    {% for i in items %}
        <tr>
            <td>{{ i.title }}</td>
            <td>{{ i.keyword }}</td>
            <td>{{ '%.1f'|format(i.views_per_day) }}</td>
            <td>{{ '%.1f'|format(i.vpd_delta) }}</td>
            <td>{{ i.views_delta }}</td>
            <td>{{ '%.2f'|format(i.eng_delta) }}</td>
            <td><a href="{{ i.url }}" target="_blank">Відкрити</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="notification">Потрібно щонайменше два сніпшоти.</div>
{% endif %}
{% endblock %}
